@import "tailwindcss";
@plugin "daisyui"
{
  themes: light --default, dark --prefersdark;
  root: ":root";
  include: ;
  exclude: ;
  prefix: ;
  logs: true;
};

.light-rays-container {
  width: 100%;
  height: 100%;
  position: relative;
  pointer-events: none;
  z-index: 3;
  overflow: hidden;
}

.project-description {
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out; /* Smooth transition for expanding/collapsing */
}

.project-description:hover {
  max-height: none; /* Allows full text to show on hover */
  padding-bottom: 1rem; /* Adjust padding to allow more space when expanded */
}